.arrow-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height : 50px;
}

.right-arrow-icon {
    position: relative;
    width: 10px;
    height : 10px;

}

.right-top-bar {
    position: absolute;
    top: 5px;
    right : 0;
    width : 40px;
    height : 3px;
    background-color: #8a8a8a;
    border-radius: 2px;
    transform: rotate(45deg);
    transform-origin: 97% center;
}

.right-bottom-bar {
    position: absolute;
    top: 5px;
    right : 0;
    width : 40px;
    height : 3px;
    background-color: #8a8a8a;
    border-radius: 2px;
    transform: rotate(-45deg);
    transform-origin: 97% center;
}

.left-arrow-icon {
    position: relative;
    width: 10px;
    height : 10px;

}

.left-bottom-bar {
    position: absolute;
    top: 5px;
    left : 0;
    width : 40px;
    height : 3px;
    background-color: #8a8a8a;
    border-radius: 2px;
    transform: rotate(45deg);
    transform-origin: 3% center;
}

.left-top-bar {
    position: absolute;
    top: 5px;
    left : 0;
    width : 40px;
    height : 3px;
    background-color: #8a8a8a;
    border-radius: 2px;
    transform: rotate(-45deg);
    transform-origin: 3% center;
}

.tab-name {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    color: #8a8a8a;
    font-weight: 700;
}



.container-grid::-webkit-scrollbar {
    background-color:transparent;
    width:5px
}
.container-grid::-webkit-scrollbar-track {
    background-color: transparent;
}
.container-grid::-webkit-scrollbar-thumb {
    background-color: rgba(107, 107, 107, 0.626);
    border-radius:16px;
} 

.back {
    /* position: -webkit - sticky;
    position: sticky; */
    position: absolute;
    top: 2%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 8.1%;
    
}

.back > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95em;
    color: #8a8a8a;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.back:hover > p {
    margin-left: 5px;
}

.menu {
    position: absolute;
    top: 2%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 40px;
    padding: 5px 4px;
    transition: .45s cubic-bezier(.43,.77,.15,1.5);
}

.menuBar {
    width: 100%;
    height: 2px;
    background-color: #8a8a8a;
    transition: .45s cubic-bezier(.43,.77,.15,1.5);
}

.menu:hover {
    height: 30px;
}