.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 80px 0;
    min-height: 100%;
}

.container > h1 {
    color: #cacaca;
    font-size: 2.625em;
    line-height: 1.45em;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 0.1em;
    text-transform: lowercase;
    width: 100%;
    text-shadow: 2px 2px 0 rgb(0 0 0 / 15%);
    font-family: 'MontSerrat', sans-serif;
}

.container > h2 {
    color: #cacaca;
    font-size: 1.825em;
    line-height: 1.45em;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 0.1em;
    /* text-transform: lowercase; */
    width: 100%;
    text-shadow: 2px 2px 0 rgb(0 0 0 / 15%);
    font-family: 'MontSerrat', sans-serif;
}

.container > h3 {
    font-size: 1.15em;
    color: #8a8a8a;
    font-family: Lato,Helvetica,Arial,sans-serif;
    line-height: 1.7em;
    word-spacing: 0.02em;
    font-weight: 400;
    margin-top: 0;
    text-align: left;
    width: 100%;
}

.tags-wrap {
    display : flex; 
    flex-direction : row; 
    width : 100%; 
    align-items: center; 
    margin: auto;
    flex-wrap: wrap;
}

.tag > p {
    text-transform: uppercase;
    font-family: 'MontSerrat',sans-serif;
    font-weight: 700;
    font-size: .75em;
    line-height: 1em;
    color: #999;
    margin: 0;
}

.tag {
    display: inline-block;
    padding: 8px 5px;
    background-color: #313131;
    color: #999;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 3px;
    margin: 2px;
}