.container {
    display : flex;
    flex-direction: row;
    justify-content: center;
    width: 220px;
    height: 75px;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    right: calc(50% - 110px);
}

.box {
    width: 55px;
    height: 80%;
    transition: .1s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box:hover {
    height : 100%;
}

.instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.facebook {
    background-color: #4868ad;
}

.github {
    background-color: #4e545a;
}

.linkedin {
    background-color: #0077ba;
}