.c {
  position : absolute;
  top : 5vh;
  right : 2.5vw;
  left : 2.5vw;
  max-width: 500px;
  max-height: 500px;
  /* width: 99vw;
  height: 100vh; */
  will-change: transform, opacity;
}

.app-div {
  transform-origin: center right;
}