@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  overflow: hidden;
  background-color: #000000ec;
}

.flex {
  display: flex;
  align-items: center;
  width : fit-content;
  height : fit-content;
}

.flex.fill {
  height: 100%;
}

.flex.center {
  justify-content: center;
}
